html {
    background-color: pink;
    width: 100%;
    height: 100%;
    font-family: 'Indie Flower', cursive;
}

main{
    width:fit-content;
    margin: auto;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

h1,
h2 {
    width: fit-content;
    margin: 10px auto 10px auto;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width:35vw;
    height:35vw;
}

.cell {
    margin:0;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 70px;
}

.cell:hover {
    cursor: pointer;
    background: radial-gradient(rgba(255, 255, 255, 0.356),pink) ;
}

#cell-0 {
    border-right: 2px solid black;
    border-bottom: 2px solid black;
}

#cell-1 { 
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
}

#cell-2 {
    border-left: 2px solid black;
    border-bottom: 2px solid black;
}

#cell-3{
    border-top: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
}

#cell-4{
    border: 2px solid black;
}

#cell-5 {
    border-left:2px solid black;
    border-top:2px solid black;
    border-bottom:2px solid black;
}

#cell-6{
    border-top:2px solid black;
    border-right:2px solid black;
}

#cell-7{
    border-left:2px solid black;
    border-top: 2px solid black;
    border-right: 2px solid black;
}

#cell-8{
    border-left:2px solid black;
    border-top: 2px solid black;
}

#error-message {
    font-size: 30px;
    width:fit-content;
    margin: 10px auto 10px auto;
}

#second-message {
    font-size: 40px;
    width:fit-content;
    margin: 10px auto 10px auto;
}

#player-form-button {
    min-width:fit-content;
    width: 8rem;
    font-size: 50px;
    cursor: pointer;
}

#player-form-button:hover{
    text-shadow:2px 1px 1px white;
}

#player-form {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

#player-form > div > input, div {
    margin: 20px;
    width: fit-content;
    font-size: 1.5rem;
    text-align: center;
    border-radius: 5px;
    font-family: 'Indie Flower', cursive;
}

#player-form > div > label {
    font-size: 2rem;
}

footer {
    width:fit-content;
    margin:auto;
    text-align: center;
    font-size: 25px;
    color: red;
    border: 3px solid red;
    border-radius: 45%;
    padding: 10px;

}

footer:hover {
    cursor:pointer;
    background: radial-gradient(rgba(255, 255, 255, 0.644),pink) ;
}

@media (max-width: 768px) {
    main{
        flex-direction:column;
        margin:auto;
    }

    #player-form > div > input, div{
        margin:1vw;
        font-size: 6vw;
    }

    .cell {
        font-size: 15vw;
    }

    .container {
        width: 50vw;
        height: 50vw;
    }

    #second-message {
        font-size: 10vw;
        text-align: center;
    }

    #error-message {
        text-align: center;
    }

    h1,
    h2 {
        text-align: center;
    }

    h2{
        font-size: 8vw;
    }

    footer {
        font-size: 5vw;
        padding: 1vw;
        border: solid 1px red;
    }

}